<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Información del empleado</h1>
    <p th:text="'Nombre: ' + ${Empleados.name}">Nombre del servidor</p>
    <p th:text="'Apellido: ' + ${Empleados.lastName}">Apellido del servidor</p>
    <p th:text="'Dirección: ' + ${Empleados.direccion}">
      Dirección del servidor
    </p>
    <p th:text="'Puesto: ' + ${Empleados.puesto}">Puesto del servidor</p>
    <p th:text="'Edad: ' + ${Empleados.edad}">Edad del servidor</p>
    <p th:text="'Telefono: ' + ${Empleados.telefono}">Telefono del servidor</p>
    <p th:text="'Salario: ' + ${Empleados.salario}">Salario del servidor</p>
  </body>
</html>
